
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 52%, rgba(99,6,120,1) 100%);
    color:antiquewhite;
    text-align: center;
    display: flex;
     /* margin: auto; */
    flex-direction: column;
    margin: 20vh auto;
 
}

#weatherInputDiv{
    display: flex;
    align-items: center;
    justify-content:center;
}

#weatherInput{
    width: 180px;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.35);
    border-radius: 5px;
}
#weatherInput:focus{
    background-color: rgba(255,255,255,0.6);
}
#weatherInput::placeholder{
    color: rgba(0,0,0,0.5);
    opacity: 1; 
}

#getWeatherButton{
    margin-left: 0.5rem;
}

#weatherInfo {
    
   /*  display: flex;
    flex-direction: row; */
    /* width: 25vw; */
    width: 200px;
    /* height: 35vh; */
    height: 250px;
    margin: auto;
    /* justify-content: center;
    align-items: center; */
}

#weatherCard { 
    
    /* width: 140px;
    height: 190px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.3rem;
    /* font-weight: 2000; */
}

#weatherDescription{
    font-size: 1rem;
}

#weatherText{
    width: 100%;
}

#city {
    font-size: 1.5rem;
    
}
#date {
    font-size: 1rem;
}

#weatherFeelsLike{
    font-size: 2.5rem;
    font-weight: 5000;
    text-shadow: 0px 4px rgba(0,0,0,3);
    font-weight: bold;
}